body {
    margin: 0px;
    padding: 2px;
    width: 400px;
    height: 480px;
}

/* Update notice */

#updateNotifier {
    position: absolute;

    top: 10px;
    left: 10px;
    width: 380px;
    padding: 4px 2px 6px 2px;

    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 8px black;

    color: black;
    font: bold 12px Verdana, Arial, Tahoma;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

    z-index: 9999;
}
#updateNotifier:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd), to(#eec));
    color: #03f;
}

/* Layout */

#smbase {
    width:400px;
}
#smsavebase, #smrestorebase {
    position: relative;

    border: 1px solid #777;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#999));
}
#smrestorebase {
    margin-top: 5px;
}

/* Save session panel */

#smsaveicon {
    position:absolute;
    top:10px;
    left:12px;
    width:48px;
    height:48px;
    background:url('freshstart_save.png');
}
#smsavelabel {
    position:absolute;
    top:9px;
    left:70px;
    width:300px;
    height:18px;
    line-height:18px;
    font: bold 18px Verdana, Arial, Tahoma, sans-serif;
    color:#FFFFFF;
    overflow:hidden;
}
#smsavetitle {
    position:absolute;
    top:30px;
    left:70px;
    width:210px;
    height:18px;
}
#smsavebutton {
    position:absolute;
    top:31px;
    right:30px;
    width:80px;
    height:24px;
    background:url(freshstart_savebutton.png);
}
#smsavetoggle {
    position:absolute;
    top:34px;
    right:10px;
    width:16px;
    height:16px;
    background:url(contrast_high.png);
}

/* Save session list */

#smsavelist {
    position: relative;

    margin: 60px 8px 8px 8px;
    width:370px;
    height:110px;
    padding:5px;

    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    border:1px solid #779;
    -webkit-border-radius: 3px;

    overflow-x:hidden;
    overflow-y:auto;
}
.smtabline {
    width: 370px;
    height: 20px;
}
.smcheck {
    float: left;
}
.smtablabel {
    float: left;
    width:350px;
    height:15px;
    font:12px Verdana, Arial, Tahoma, sans-serif;
    color:#333;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Restore session panel */

#smrestoreicon {
    position:absolute;
    top:10px;
    left:12px;
    width:48px;
    height:48px;
    background:url(freshstart_restore.png);
}

#smrestorelabel {
    position:absolute;
    top:8px;
    left:70px;
    width:300px;
    height:18px;
    line-height:18px;
    font-size:18px;
    font-weight:bold;
    font-family:Verdana, Arial, Tahoma;
    color:#FFFFFF;
    overflow:hidden;
}
#smrestorelabel2 {
    position:absolute;
    top:26px;
    left:70px;
    width:325px;
    height:28px;
    line-height:14px;
    font-size:12px !important; /* some user said it is clipped, font size problem? */
    font-family:Verdana, Arial, Tahoma;
    color:#FFFFFF;
    overflow:hidden;
}

#options, #smrestorecrash, #importBtn {
    position: absolute;
    top: 267px;
    font: bold 10px Verdana, Arial, Tahoma, sans-serif;
    color: #fff;
    cursor: pointer;
}
#options:hover, #smrestorecrash:hover, #importBtn:hover {
    color:#000000;
}
#options {
    left: 10px;
}

#importBtn {
    left: 70px;
}

#smrestorecrash {
    right: 10px;
}

/* Restore session list */

#smrestorelistwrapper {
    position: relative;

    margin: 60px 7px 24px 7px;
    width:380px;
    height:200px;

    -webkit-border-radius: 3px;
    border:1px solid #999999;

    overflow: hidden;
    background:#FFFFFF;
}
#smrestorelist, #smeditsession {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
}
.nosessionsaved {
    color: black;
    font: 14px Verdana, Arial, Tahoma, sans-serif;
}

.smsessionblock {
    width:380px;
    height:30px;
    padding:2px;
    cursor: pointer;
    border-bottom:1px solid #DEDEDE;
    position: relative;
}
.smsessionblock:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
}
.smsessionlabel {
    position: absolute;
    top: 2px;
    left: 10px;
    width:350px;
    height:18px;
    font: 12px Verdana, Arial, Tahoma, sans-serif;
    font-weight:bold;
    color:#000000;
    overflow:hidden;
}
.smsessiontitle {
    float: left;
    max-width: 200px;
    max-height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.smsessioncount {
    float: left;
    font-size:10px;
    color:#FF8800;
    margin-left: 5px;
}
.smsessiontimelabel {
    position:absolute;
    left: 10px;
    top: 18px;
    width:100px;
    height:15px;
    font: 10px Verdana, Arial, Tahoma, sans-serif;
    color:#9999CC;
    overflow:hidden;
}

/* Edit session panel/list */

#smeditsession {
    left: 100%;
    background: white;
    font: 12px Verdana, Arial, Tahoma, sans-serif;
    display: none;
}
#smeditsession h4 {
    color: #005;
    margin: 5px 5px 3px 5px;
}
#smtitle {
    width: 200px;
    margin: 5px;
}
#smeditcontrols {
    margin: 10px 5px 5px 5px;
}
.smeditlist {
    margin: 5px;
}
.smeditlist .smtablabel {
    width: 340px;
    text-decoration: none;
}
.smeditlist .smtablabel[href]:hover {
    color: #05f;
}
.smeditlist h4 {
    margin: 0px 0px 5px 0px !important;
}
#smeditnewtoggle, #smeditsavedtoggle {
    display: inline-block;
    margin: 3px 2px -3px;
    width: 16px;
    height: 16px;
    background: url(contrast_high.png);
}
/* Confirm Box*/

.confirmBox {
    position: absolute;
    top:25%;
    left: 25%;
    width: 200px;
    height: 100px;
    border: 1px solid #777;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#fff));
    -webkit-box-shadow: 0px 0px 5px #aaa;
    color: #333;

}

.messageBox {
   padding: 10px;
   height:50px;
   font: bold 10px Verdana, Arial, Tahoma, sans-serif;
}

.confirmButton {
    position: absolute;
    width: 54px;
    height: 14px;
    padding: 3px;
    top: 70px;
    left: 30px;
    border: 1px solid #777;
    background: #eee;
    font: 10px Verdana, Arial, Tahoma, sans-serif;
    text-align: center;
    cursor: pointer;
}

.confirmButton:hover {
    background: #ddd;
}

.cancelButton {
    position: absolute;
    width: 54px;
    height: 14px;
    padding: 3px;
    top: 70px;
    right: 30px;
    border: 1px solid #777;
    background: #eee;
    font: 10px Verdana, Arial, Tahoma, sans-serif;
    text-align: center;
    cursor: pointer;
}

.cancelButton:hover {
    background: #ddd;
}
/* exported session*/

#sessionTextBox {
    position: absolute;
    height:220px;
    width: 90%;
    left: 5%;
    top: 20px;
    display: none;
    z-index: 100px;
    background: #eee;
    -webkit-box-shadow: 3px 3px 6px #777;
}

#SessionTextBoxTextArea {
    width: 100%;
    height: 170px;
}

#sessionTextBoxCloseBtn {
    float: right;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 4px;
    background-image: url(cross.png);
    background-repeat: no-repeat;
    border: 1px solid rgba(255,255,255,0);
}


#sessionTextBoxCloseBtn:hover {
    border: 1px solid #777;
    background-color: white;
    opacity: 1;
}


#importSessionBtn {
    float: right;
    cursor: pointer;
    width: 80px;
    height: 16px;
    padding: 1px;
    margin: 2px;
    
    border: 1px solid rgba(255,255,255,0);
}

#importSessionBtn:hover {
    border: 1px solid #777;
    background-color: white;
    opacity: 1;
}

#importSessionBtnIcon {
    float: left;
    margin-left: 3px;
}

#importSessionBtnText {
    float: left;
    font: bold 10px Verdana, Arial, Tahoma, sans-serif;
    height: 20px;
    margin-left: 3px;
    padding: 2px;
}

#sessionTextBoxTips {
    padding: 4px;
    height: 14px;
    width: 100%;
    font: bold 12px Verdana, Arial, Tahoma, sans-serif;
}
/* Other controls */

.controls {
    position:absolute;
    width: 100px;
    right: 25px;
    top: 1px;
    display: none;
}
.smsessionblock:hover .controls {
    display: block;
}
.control {
    float: right;
    width: 16px;
    height: 16px;
    padding: 1px;
    margin: 1px;
    border: 1px solid #ddd;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.control:hover {
    border: 1px solid #777;
    background-color: white;
    opacity: 1;
}
.smsessionedit {
    background-image: url(comment_edit.png);
}
.smsessionremove {
    background-image: url(cross.png);
}
.smsessionexport {
    background-image: url(export.png);
}
.tooltip {
    clear: both;
    height: 12px;
    font: 10px Verdana, Arial, Tahoma, sans-serif;
    color: #333;
    margin: 1px 0px 0px 3px;
    text-align: right;
}

/* Other controls */

.dimmed {
    opacity: 0.5;
    cursor: pointer;
}
.dimmed:hover {
    opacity: 1.0;
}
.dimmed[disabled="true"] {
    opacity: 0.25;
    cursor: default;
}

