      html {
		width:100%;
		height:100%;
		margin:0px;
		padding:0px;
		overflow:hidden;
	  }
      body {
		 background-image:url(images/bg.png);
		 background-repeat:repeat-x;
		 background-position:bottom left;
		 width:100%;
		 height:100%;
		 margin:0px;
		 padding:0px;
	     overflow:hidden;
		 -webkit-user-select: none;
		 font-size:12px;
		 font-family:arial;
		 color:3e3e3e;

	  }
	  #main-bg {
        position:absolute;
		z-index:0;
		border:0px solid #123466;
		display:none;
	  }
	  #main {
		//float:left;
	//	display:none;
	  }

	  a {
		 color:000000;
	  }

	  table {
		margin:0px;
		padding:0px;
	  }
	  tr {
		margin:0px;
		padding:0px;
	  }
	  td {
		margin:0px;
		padding:0px;
	  }
	  #bookmarksTree {
		 position:relative;
		 float:left;
		 margin-top:15px;
		 overflow-y:auto;
		 overflow-x:hidden;
		 display:none;
		 width:800px;

	  }
	  #bookmarksBar {
		height:30px;
		 position:relative;
		 float:left;
		 margin-top:5px;
		// margin-top:15px;
		// display:none;
		//margin-left:20px;
		//margin-right:20px;
		// width:100%;
	  }
	  #header {
		 position:relative;
		 float:left;
		 margin-top:15px;
		 display:none;
		  clear:both;
	  }
	  #header a{
		 font-size:13px;
		 text-decoration:none;
	  }
	  #header a:hover{
		 font-size:13px;
		 text-decoration:underline;
	  }
      #search {
		 position:relative;
		 float:left;
		// clear:both;
		 margin-top:15px;
	     -webkit-transition-property: opacity;
	     -webkit-transition-duration: 0.4s;
	     transition-timing-function : linear ;
		 opacity:1;
	  }




	  #dials {
		 zIndex : 1;
		 position:relative;
		 float:left;
		 clear:both;
		 margin-top:20px;
	     -webkit-transition-property: opacity;
	     -webkit-transition-duration: 0.4s;
	     transition-timing-function : linear ;
		 opacity:1;
	  }

	  .dials {
		 zIndex : 1;
		 position:absolute;
		 border:6px solid #123456;
	  }


	  #options {
		 zIndex : 1;
		 position:relative;
		 float:left;
		 clear:both;
		 margin-top:25px;
		 display:none;
		 width:800px;
		 border-top:1px solid #d7d7d7;

		 overflow-y:auto;
		 overflow-x:hidden;
	    /* -webkit-transition-property: opacity;
	     -webkit-transition-duration: 0.4s;
	     transition-timing-function : linear ;
		 opacity:0;*/

	  }
	  #options div:not(#slider){
	    float:left;
	  }


	  .searchInput {
	     float:left;
		 width:250px;
		 height:26px;
		 font-family:verdana;
		 font-size:14px;
		 -webkit-border-radius: 3px;
		 border:1px solid #dfdfdf;
		 padding-top:3px;
		 padding-left:25px;
		 background-repeat:no-repeat;
		 background-position:4px 4px;
		 background-image:url("http://www.google.com/favicon.ico");
	  }
	  .searchButton {
	     float:left;
		 width:50px;
		 height:19px;
		 border:1px solid #dfdfdf;
		 -webkit-border-radius: 1px;
		 margin-left:5px;
		 padding-left:8px;
		 padding-top:4px;
		 cursor:pointer;
		 font-family:arial;
		 font-size:13px;
		  -webkit-border-radius: 3px;
		 background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d9d9d9)); 
		 color:#000000;

	  }
	  .searchButton:hover {
			background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec)); 
	  }
      .slot {
		  position:absolute;
		  cursor:pointer;

		  -webkit-border-radius: 7px;


		 -webkit-transition:-webkit-transform 0.2s linear


	  }
      .slot-empty {
		  position:absolute;

	      background-color:#f7f7f7;
		  border:1px solid #e3e3e3;
		  text-align:center;
		  font-size:30px;
		  color:#aaaaaa;
		 -webkit-border-radius: 3px;

	  }
	  .thumbnail-container {
		  position:absolute;
		  background-color:#ffffff;
		  border:1px solid #dcdcdc;
		  -webkit-border-radius:7px;
		  -webkit-transition-property: background-color,border;
		  -webkit-transition-duration: 0.5s, 0.5s;
		  transition-timing-function : linear;
	  }
	  .thumbnail {
		  border:1px solid #ebebeb;
	  }
	  .thumbnal-reflection {
			-webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
	  }

	  .thumbnail-top-gradiant {
		 background-image:url(images/topGradiant.png);
		 background-repeat:repeat-x;
		 background-position:bottom left;
		 position:absolute;
		 top:0px;
		 left:0px;
		 z-index:10;
		 opacity:1;
		  -webkit-transition: opacity 0.25s linear;
	  }
	  .thumbnail-footer {
		 width:249px;
		 height:14px;
		 position:absolute;
	  }


      div.slot:hover .thumbnail-container{
		  background-color:#f0f3ff;
		  border:1px solid #e3e8ff;
	  }

      div.slot:hover .thumbnail-top-gradiant{
		opacity:0.4;
	  }
	  .link {
		  text-decoration:none;
	  }
	  .title {
		  float:left;
	      font-size:12px;
		  font-family:arial;
		  color:#3d454d;
		  margin-left:5px;
		  margin-top:1px;
		   overflow: hidden;
		   white-space: nowrap;
		   text-overflow: ellipsis;
	  }    
	  .favIcon {
		  float:left;
	      width:16px;
		  height:16px;
	  }    
	  #menu-dial {
		position:absolute;
		display:none;
		z-index:100000;
		//background-color:#f0f0f0;
	   -webkit-box-shadow: 1px 1px 5px #2a2a2a;
	    border: 1px solid #DDD;
		border-radius:4px;
	  	cursor:pointer;
	    background-repeat:repeat-x;
	    background-color: #EEE;

	  }
	  #menu-dial .row{
	    font-family:arial;
		font-size:12px;
		color:#2c2929;
		padding:5px;
		float:left;
		clear:both;
		width:150px;
	  }
	  #menu-dial .separator{
		float:left;
		clear:both;
	    width:160px;
		height:1px;
		background-color:#d0d0d0;
		border-bottom:1px solid #ffffff;
		margin-top:2px;
		margin-bottom:2px;
	  }


	  #menu-dial .row:hover{
	    background-color:#fbffe8;
	  }




	  #themes {
	      clear:none;
	      background-image:url('images/themes.png');
		  background-repeat:no-repeat;
		  width:72px;
		  height:55px;
		  margin-right:10px;
		  cursor:pointer;
	  }
	  #themes .overlay{
	      background-color:#000000;
		  width:72px;
		  height:55px;
		  opacity:0;
		  -webkit-transition:opacity 0.2s linear;
		 -webkit-border-radius: 13px;

	  }
	  #themes:hover .overlay{
		  opacity:0.3;
	  }
	  #themes.white:hover .overlay{
		  opacity:0.1;
	  }
	  #themes.white{
	  }
	  #themes.blue{
		  background-position:-90px 0px;
	  }
	  #themes.red{
		  background-position:-180px 0px;
	  }
	  #themes.green{
		  background-position:-271px 0px;
	  }
	  #themes.orange{
		  background-position:-361px 0px;
	  }
	  #themes.purple{
		  background-position:-451px 0px;
	  }
	  #themes.black{
		  background-position:-541px 0px;
	  }
	  

	  input[type=checkbox] {
		float:left;
		margin-top:1px;
		margin-right:5px;
	  }
	  .divCheckBox {
	    clear:both;
	    margin-bottom:4px;
	  }



	
	#options-button {
		background: url('images/settings.png') 0px 0px no-repeat;
		float: left;
		left:9px;
		width: 62px;
		height:24px;
		background-color:#203153;
		-webkit-border-radius: 4px;
		
	}


	#options-button-inline{
		
		background:url('images/settings.png') 0px 0px no-repeat;
		background-color:#053fb5;
		opacity:0;
		-webkit-transition: opacity 300ms ease-out;
		width: 62px;
		height:24px;
		-webkit-border-radius: 4px;

	}	
	#options-button-inline:hover{
		opacity:1;
	}		


    .auto-suggest {
	   position:absolute;
	   z-index:1000;
	   background-color:#ffffff;
	   border:1px solid #7a7a7a;
	   padding-bottom:1px;
    }
    .auto-suggest-row {
	   font-size:14px;
	   font-family:arial;
	   width:245px;
	   float:left;
	   clear:both;
	   padding-left:3px;
	   padding-top:1px;
	   cursor:default;
	   overflow: hidden;
	   white-space: nowrap;
	   text-overflow: ellipsis;
	   -moz-user-select : none;
	   color:#1e1e2e;
    }
    .auto-suggest-row.selected{
  	   background-color:#ebefff;
    }	
	

	 #closedTabsBar {
		 position:relative;
		 float:left;
		 clear:both;
		 margin-top:20px;
		 height:30px;

		 vertical-align:center;
	    -webkit-transition-property: opacity;
	    -webkit-transition-duration: 0.4s;
	    transition-timing-function : linear ;
		 opacity:1;
	  }


    .bar-bg {
		 height:28px;
		 width:100%;
		 border:1px solid #000000;
		 background-color:#000000;
		 -webkit-border-radius: 5px;
		 position:absolute;
		 z-index:0;
		 opacity:0.1;
		-webkit-transition-property: opacity;
	    -webkit-transition-duration: 0.4s;
	    transition-timing-function : linear ;
	}
    #closedTabsBar:hover .bar-bg {
		 opacity:0.15;
	}
    .bar-container{
	   height:27px;
	   width:100%;
	   z-index:1;
	   overflow:hidden;
	   margin-top:1px;
	   position:absolute;
    }

    .bar-title {
    	float:left;
	    font-family:arial;
	    color:#4c4c4c;
	    font-size:13px;
	    cursor:default;
		font-weight:bold;
	    margin-left:8px;
	    margin-top:7px;
	    margin-right:8px;
    }
    .bar-container a{
	  float:left;
	  margin-left:8px;
	  margin-top:7px;
	  margin-right:8px;
	  text-decoration:none;
    }
    .bar-container a:hover{
	  text-decoration:underline;
    }
    .bar-container a img{
		float:left;
    }
    .bar-container a font{
		float:left;
		margin-left:6px;
	    overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
		max-width:105px;
    }
	 .bar-bg.bookmarksBar {
		background-color:#d1dfff;
		border-color:#cccccc;
		opacity:0.5;
	 }
    .bookmarkLink {
		float:left;
		max-width:145px;
		border:0px solid #123466;
		margin-top:3px;
		margin-left:2px;
		margin-right:2px;
		position:relative;
    }
    .bookmarkLink-bg {
		background-color:#ffffff;
		-webkit-border-radius: 4px;
		width:100%;
		height:22px;
		z-index:0;
		float:left;
		position:absolute;
		top:0px;
		left:0px;
		opacity:0;
		-webkit-transition: opacity 300ms ease-out;
    }
	div.bookmarkLink:hover .bookmarkLink-bg {
		opacity:0.8;
		cursor:pointer;
	}

    .bookmarkLink-container {
		position:relative;
		float:left;
		//background-color:#123456;
		z-index:1;
		top:0px;
		left:0px;
    }
    .bookmarkLink a{
	  float:left;
	  margin:3px;
	  text-decoration:none;
    }
    .bookmarkLink a:hover{
	  text-decoration:none;
    }
	div.bookmarkLink:hover a font{
		color:#000000;
	}
    .bookmarkLink a img{
		float:left;
    }
    .bookmarkLink a font{
		float:left;
		margin-left:6px;
		margin-top:1px;
	    overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
		max-width:105px;
		-webkit-transition: color 300ms ease-out;
    }


    .bookmarkIcon {
    	float:right;
		background:url('images/bookmarkIcon.png') 2px 2px no-repeat;
		width: 26px;
		height:25px;
		margin-top:1px;
		margin-right:3px;
	//	opacity:0;
	//	-webkit-transition: opacity 300ms ease-out;
		//-webkit-border-radius: 4px;
    }
	.bookmarkIcon:hover {
			background:url('images/bookmarkIconOver.png') 0px 0px no-repeat;
	}

  .tree-row {
	 float:left;
	 clear:both;
	 width:100%;
  }
  .tree-node {
	  float:left;
	  clear:both;
	  font-family:arial;
	  font-size:12px;
	  color:#000000;
	  padding-top:2px;
	  padding-bottom:2px;
	  padding-left:20px;
	  cursor:pointer;
	  z-index:1;
	  position:relative;
	  width:auto;
  }

  .tree-row a{
      text-decoration:none;
  }
  .tree-row a:hover{
      text-decoration:underline;
  }
  div.tree-node.folder:hover {
	 text-decoration:none;
  }
  .tree-node font {
	  margin-left:4px;
  }
  .tree-node img {
	  float:left;
	  margin-left:2px;
	  width:16px;
	  height:16px;
  }
  .tree-node div {
	  float:left;
	  margin-left:2px;
	  width:16px;
	  height:16px;
	  background-image: url(images/folder.png);
	  background-repeat:no-repeat;
  }
  .tree-node-folder-container {
	  float:left;
	  clear:both;
	  width:100%;
  }
  .tree-node.folder {
	  float:left;
	  margin-left:3px;
	  background-image: url(images/tree-plus.png);
	  background-repeat:no-repeat;
	  background-position: 8px 5px;
	  padding-left:20px;
	  font-weight:bold;

  }
  .tree-node.folderClose {
	  float:left;
	  margin-left:3px;
	  background-image: url(images/tree-minus.png);
	  background-repeat:no-repeat;
	  background-position: 8px 5px;
	  padding-left:20px;
	  font-weight:bold;
  }
  .tree-node-separator {
	  width:100%;
	  height:1px;
	  background-color:#f1f1f1;
	  margin-top:3px;
	  margin-bottom:3px;
  }

  #edit-dial-dialog {
     display:none;
  }

  #edit-dial-dialog label, #edit-dial-dialog input { display:block; }
  input.text { margin-bottom:12px; width:95%; padding: .4em; }
  #edit-dial-dialog div { padding:0; border:0; margin-top:25px; }
  h1 { font-size: 1.2em; margin: .6em 0; }
  div#users-contain { width: 350px; margin: 20px 0; }
  div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
  div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
  .ui-dialog .ui-state-error { padding: .3em; }
  .validateTips { border: 1px solid transparent; padding: 0.3em; }
  .ui-dialog .ui-dialog-buttonpane button {
	padding:0px;
  }
  #edit-dial-thumbnail {
	margin-bottom:2px;
  }
  #edit-dail-select-logos {
   width:190px;
  }
  #edit-dial-dialog span {
   padding-left:3px;
  }

  #menuLog { font-size:1.4em; margin:20px; }
  .hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
	
  .fg-button { clear:left; margin:0 4px 40px 20px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
  .fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
  a.fg-button { float:left;  }
  button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */
	
  .fg-button-icon-left { padding-left: 2.1em; }
  .fg-button-icon-right { padding-right: 2.1em; }
  .fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
  .fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
  .fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
  .fg-button.ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0; }

  .positionHelper {
	   z-index:1000;
  }
  .fg-menu li a {
	   margin-right:30px;
  }
  .fg-menu li a img {
	   float:left;
  }
	.fg-menu li a{
		padding-left:5px;
	}
	.fg-menu li a div {
		padding-left:5px;
		overflow: hidden;
		white-space: nowrap;
	text-overflow: ellipsis;
		max-width:190px;
	}
	.fg-menu li a {
		width:auto;
	}
	.fg-menu a:link, .fg-menu a:visited, .fg-menu a:hover, .fg-menu a:active {
		background-repeat:no-repeat;
		background-position:2px 2px;
	}
	.fg-menu-breadcrumb .fg-menu-crumb {
	  font-size:11px;
	}
	.ui-state-active, .ui-widget-content .ui-state-active {
		border:0px solid #123456;
		font-weight:normal;
	}

	.fg-menu-breadcrumb .fg-menu-current-crumb a,
	.fg-menu-breadcrumb .fg-menu-current-crumb a:link, 
	.fg-menu-breadcrumb .fg-menu-current-crumb a:visited, 
	.fg-menu-breadcrumb .fg-menu-current-crumb a:hover, 
	.fg-menu-breadcrumb .fg-menu-current-crumb a:active
	{
	   font-size:11px;
	}

	.fg-menu-container {
		font-family:arial;
		font-size:12px;
	}

