a {
	color: #234a7e;
	text-decoration: none;
}

.hidden {
	display: none;
}

.overlay {
	background: #000000;
	bottom: 0;
	color: white;
	left: 0;
	opacity: .85;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 1;
}

.header h1 {
	background: url(icons/icon-32.png) no-repeat 0;
	font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
	margin: 2px 0 -30px 0;
	padding-left: 36px;
}

.header h1 a {
	color: black;
	text-decoration: none;
}

.footer .nav {
	text-align: right;
}

.footer .icon-author {
	float: left;
}

.eye-catcher {
	background: #ffcccc;
	border: solid 1px #ff8888;
	-webkit-border-radius: 6px;
}

.overlay h1, .overlay h2, .overlay h3 {
	color: red;
}

.overlay .custom-content,
.overlay .backup-form {
	margin: auto;
	opacity: 1;
	text-align: left;
	width: 80%;
}

.overlay .custom-content .custom-label {
	width: 100%;
}

.overlay .custom-content .custom-script,
.overlay .backup-form .backup-ta {
	width: 100%;
	font-family: monospace;
	height: 25em;
}

.overlay .new-stroke {
	color: yellow;
}

.title {
	background: #ebeff9;
	border-top: solid 1px #b5c7de;
	margin: 1em 0;
	padding: .2em;
	cursor: pointer;
}

.title .new-custom-stroke,
.title .open-backup-ui {
	color: #1c2e45;
	font-weight: bold;
}

.title .open-backup-ui {
	float: right;
}

.label, .field {
	margin-bottom: .2em;
}

.submit {
	text-align: right;
}